@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Source+Sans+3&display=swap");

* {
	margin: 0;
}

.icon {
	transition: filter 300ms;
}

.icon:hover {
	cursor: pointer;
	filter: brightness(1.2);
}
