@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Source+Sans+3&display=swap");

:root {
	--clr-primary: #ffecdd;
	--clr-secondary: #2f3d58;
	--clr-tertiary: #fdd3b4;
}

.signup-container {
	background: url("../images/agora-login.jpg") no-repeat bottom right;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.signup-container__details {
	height: 100vh;
	max-width: 20vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--clr-primary);
}

.main-header {
	font-family: "Philosopher", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 3.5vw;
	background: var(--clr-secondary);
	background: linear-gradient(
		90deg,
		rgba(47, 61, 88, 1) 25%,
		rgba(55, 72, 106, 1) 75%,
		rgba(57, 74, 108, 1) 87%,
		rgba(71, 91, 130, 1) 100%
	);

	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 5rem;
}

.secondary-header {
	font-family: "Source Sans 3", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 2vw;
	color: var(--clr-secondary);
	margin-top: 1rem;
}

.error {
	border-bottom: 1px solid red !important;
	transition: border-bottom 75ms !important;
}

.error:focus {
	border-bottom: 3px solid red !important;
	outline: none;
}

.signup-form {
	display: flex;
	flex-direction: column;
	margin-top: 3.5rem;
	align-items: center;
}

.signup-form > input {
	border: none;
	border-bottom: 1px solid var(--clr-secondary);
	margin: 1.5em;
	background-color: inherit;
	font-size: 0.8vw;
	text-align: center;
	font-family: "Source Sans 3", sans-serif;
	transition: border-bottom 75ms;
}

.signup-form > input:focus {
	border-bottom: 3px solid var(--clr-secondary);
	outline: none;
}

.btn {
	width: 35%;
	border-radius: 8px;
	font-size: 0.8vw;
	border-style: none;
	padding: 0.3em;
	color: var(--clr-secondary);
	background-color: var(--clr-tertiary);
	margin-top: 1rem;
	font-family: "Source Sans 3", sans-serif;
}

.btn:hover {
	cursor: pointer;
}

.error-list {
	margin-top: 1.5rem;
	color: var(--clr-secondary);
	font-family: "Source Sans 3", sans-serif;
	padding-left: 0;
}

.login-link {
	margin-top: 1rem;
	font-size: 0.8rem;
}

.success-msg {
	margin-top: 1rem;
	font-size: 1.1rem;
	font-family: "Source Sans 3", sans-serif;
}
