.post-container {
	display: flex;
	background-color: #475a81;
	min-width: 40vw;
	padding: 1rem;
	border-radius: 10px;
	margin-bottom: 1rem;
	flex-direction: column;
	align-items: center;
}

.post-container__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 95%;
}

.header-left {
	display: flex;
}

.post-container__body {
	margin: 1rem;
	padding: 1rem;
	color: #eeee;
	min-width: 90%;
	background-color: var(--primary-clr);
	border-radius: 10px;
}

.header-info {
	color: var(--secondary-clr);
	margin-left: 0.8rem;
}

.fa-ellipsis {
	padding: 0 0.5rem;
	color: var(--secondary-clr);
	font-size: 1.5rem;
}

.fa-ellipsis:hover {
	cursor: pointer;
}

.post-dropdown {
	position: absolute;
	background-color: var(--primary-clr);
	border: 1px solid var(--secondary-clr);
	border-radius: 8px;
	transform: translateX(-70%);
	padding: 1rem;
	overflow: hidden;
}

.post-dropdown__list {
	list-style: none;
	padding: 0;
}

.post-dropdown__list-item {
	color: var(--secondary-clr);
	padding: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: background 300ms;
	border-radius: 8px;
	min-width: 100%;
}

.post-dropdown__list-item:hover {
	background-color: #475a81;
	cursor: pointer;
}

.fa-pen-to-square,
.fa-trash-can {
	margin-right: 0.3rem;
}

.thumbs {
	display: flex;
	align-items: center;
	min-width: 95%;
}

.fa-thumbs-up,
.fa-thumbs-down {
	color: var(--primary-clr);
	margin: 0.5rem 0.8rem 0.5rem 1rem;
}

.fa-thumbs-up:hover,
.fa-thumbs-down:hover {
	color: var(--secondary-clr);
}

.selected {
	color: var(--secondary-clr);
	padding: 0;
}

.rating-number-likes {
	color: var(--secondary-clr);
	transform: translate(350%, 5%);
	position: absolute;
}

.rating-number-dislikes {
	color: var(--secondary-clr);
	transform: translate(800%, 5%);
	position: absolute;
}

.post-divider {
	display: flex;
	margin: 0 auto;
	min-width: 95%;
	border-bottom: 1px solid var(--secondary-clr);
}
