.postform {
	display: flex;
	justify-content: start;
	align-items: center;
	background-color: #475a81;
	min-width: 40vw;
	padding: 1rem;
	border-radius: 10px;
	margin: 2rem;
}

.post-form > :nth-child(1) {
	margin: 0 0.5rem;
}

.postform__text {
	max-width: 100%;
	width: 100%;
	padding: 0.5rem;
	background-color: var(--primary-clr);
	border-radius: 10px;
	border: 1px solid var(--secondary-clr);
	color: rgb(192, 192, 192);
	font-size: 0.9rem;
	transition: border 150ms;
}

.postform__text:focus {
	outline: none;
	border: 3px solid var(--secondary-clr);
}

.post-form {
	min-width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.submit-btn {
	outline: none;
	background-color: transparent;
	border: none;
}

.fa-paper-plane {
	color: var(--secondary-clr);
	padding: 0 1.3rem;
	font-size: 1.3rem;
}

.fa-paper-plane:hover {
	cursor: pointer;
}
