.sidebar-friends {
	position: fixed;
	height: 100vh;
	width: 20rem;
	background-color: var(--primary-clr);
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.sidebar-category {
	color: var(--secondary-clr);
	font-size: 1.4rem;
	box-sizing: border-box;
	margin-left: 0.8rem;
}

.sidebar-category__top {
	margin-top: 6rem;
}

.friend-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--tertiary-clr);
	padding: 0.6rem 1rem;
	max-width: 70%;
	margin: 0 2rem;
	border-radius: 10px;
}

.friend-name {
	color: var(--secondary-clr);
	margin-left: 0.5rem;
}

.friend-bar-menu-container {
	display: none;
	position: fixed;
	bottom: 40px;
	right: 50px;
	z-index: 1;
	color: var(--secondary-clr);
	padding: 1rem;
	border: 1px solid var(--secondary-clr);
	border-radius: 50%;
	background-color: var(--primary-clr);
}

.friend-bar-menu-container:hover {
	cursor: pointer;
}

.fa-user-group {
	font-size: 1.1rem;
}

@media screen and (max-width: 1175px) {
	.friend-bar-menu-container {
		display: block;
		z-index: 2;
	}

	.sidebar-friends {
		visibility: hidden;
		right: -100vw;
		transition: 500ms ease-in;
		min-width: 0;
		width: 0;
		z-index: 1;
	}

	.sidebar-friends-clicked {
		height: 100vh;
		width: 100vw;
		background-color: var(--primary-clr);
		color: var(--secondary-clr);
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
		visibility: visible;
		transition: 500ms;
	}
}

@media screen and (max-width: 850px) {
	.friend-bar-menu-container {
		right: 20px;
	}
}
